@model HumanitarianAssistance.Application.HR.Models.EmployeeTaxReportModel
<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
         <div class="container">
              <table style="width:100%;font-family:Arial, Verdana, sans-serif;  border:2px solid #aaa;">
                  <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" style="padding:3px; color:#222;">
                          <tr>
                            <td width="40%" style="padding-left: 10px;">
                              <p style="font-size:16px; font-weight:600; margin-top:0px;">Islamic Republic of
                                Afghanistan</p>
                              <p style="font-size:16px; font-weight:600; margin-top:0px;">Ministry of Finance</p>
                              <p style="font-size:16px; font-weight:600; margin-top:0px; margin-bottom:0px;">Afghanistan
                                Revenue Department</p>
                            </td>
                            <td align="center">
                                <img src="@Model.LogoPath" alt="" width="100" height="100" >
                            </td>
                            <td width="40%" align="right">
                            سلام                         
                            </td>
                          </tr>                        
                        </table>
                      </td>
                  </tr>
                   <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td
                                    style="border-top:2px solid #ddd; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                                    Annual Wage and Tax Withholding statement
                                    </td>
                                    <td align="right"
                                    style="border-top:2px solid #ddd;color:#222; padding:3px 2px;margin-top:0px;"
                                     >
                                     <img src="@Model.Image4Path" alt="" width="185" height="16" >
                                     </td>1
                                </tr>
                                </table>
                            </td>
                          </tr>

                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <th
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:14px;font-weight:600;">
                              Section 1: Employer Information
                            </th>
                            <th
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:right;font-weight:600; margin-top:0px;">
                            </th>
                            <th align="right"
                                    style="border-top:2px solid #ddd;color:#222; padding:2px;padding-left:300px;margin-top:0px;"
                                     >
                                     <img src="@Model.Image5Path" alt="" width="220" height="16" >
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <!-- REPEAT -->
                          <tr>
                            <td width="10" style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">1</td>
                            <td width="30%" style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Employer Taxpayer Identification Number (Employer Organization)
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:right;font-weight:600; margin-top:0px;">                        
                            </td>
                            <td width="30%" style="border-top:2px solid #ddd; text-align:right; padding:3px 2px;">
                              <img src="@Model.Image6Path" alt="" width="160" height="25" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              1</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              2</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Name of Business
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.NameOfBusiness
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                               <img src="@Model.Image7Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              2</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              3</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Address of Business
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                            @Model.AddressOfBusiness 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image8Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              3</td>
                          </tr>
                          <!-- /REPEAT -->

                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              4</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Telephone Number
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.TelephoneNumber 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                                <img src="@Model.Image9Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              4</td>
                          </tr>
                          <!-- /REPEAT -->

                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              5</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Email Address
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                              @Model.EmailAddressEmployer 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                           <img src="@Model.Image10Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              5</td>
                          </tr>
                          <!-- /REPEAT -->
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <th
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:14px;font-weight:600;">
                              Section 2: Employee Information
                            </th>
                            <th
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:13px; text-align:right;font-weight:600; margin-top:0px;">
                            </th>
                            <th align="right"
                                    style="border-top:2px solid #ddd;color:#222; padding:2px;padding-left:300px;margin-top:0px;"
                                     >
                              <img src="@Model.Image11Path" alt="" width="220" height="16" >  
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              6</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Name of Employee
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.EmployeeName 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image12Path" alt="" width="160" height="15" >                          </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              6</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                              width="10">7</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Employee Taxpayer Identification
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                              @Model.EmployeeTaxpayerIdentification 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                            <img src="@Model.Image13Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              7</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              8</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Employee Address
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.EmployeeAddress 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image14Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              8</td>
                          </tr>
                          <!-- /REPEAT -->

                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              9</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Telephone Number
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                                @Model.TelephoneNumberEmployee
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image9Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              9</td>
                          </tr>
                          <!-- /REPEAT -->

                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              10</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Email Address
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                              @Model.EmailAddressEmployee 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                             <img src="@Model.Image10Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              10</td>
                          </tr>
                          <!-- /REPEAT -->
                        </table>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <th
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:14px;font-weight:600;">
                              Section 3: Wages and Tax Information
                            </th>
                            <th
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:14px; text-align:right;font-weight:600; margin-top:0px;">
                            </th>                            
                            <th align="right"
                                    style="border-top:2px solid #ddd;color:#222; padding:2px;padding-left:300px;margin-top:0px;"
                                     >
                              <img src="@Model.Image15Path" alt="" width="220" height="30" >  
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              11</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Annual Tax Period (Calendar Year)
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.AnnualTaxPeriod 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                               <img src="@Model.Image16Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              11</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                              width="10">12</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Dates of Employement within Year
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                              @Model.DatesOfEmployeement 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image17Path" alt="" width="160" height="15" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              12</td>
                          </tr>
                          <!-- /REPEAT -->
                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              13</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Total Wages for the Year
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.TotalWages                             </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                              <img src="@Model.Image18Path" alt="" width="160" height="15" >                          
                              </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2x 8px; color:#222; font-size:11px;font-weight:600;">
                              13</td>
                          </tr>
                          <!-- /REPEAT -->

                          <!-- REPEAT -->
                          <tr>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              14</td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                              Total taxes withheld for the year
                            </td>
                            <td width="33%"
                              style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;">
                             @Model.TotalTax 
                            </td>
                            <td width="30%"
                              style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                               >
                               <img src="@Model.Image19Path" alt="" width="160" height="27" >
                            </td>
                            <td width="10"
                              style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;">
                              14</td>
                          </tr>
                          <!-- /REPEAT -->
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;">
                        It's not mandatory to use the actual four parts printed 'Annual and tax withholding statement'.
                        Employers
                        with computerized system may wish to print out information from payroll database. Any
                        computerized
                        print out must have the same 14 fields.</td>
                    </tr>
                    <tr>
                      <td style="border-top:2px solid #ddd; border-bottom:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                         >
                         <img src="@Model.Image20Path" alt="" width="690" height="32" >
                         </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding:2px 5px; text-align:center;font-size:13px;">
                              <p style="margin-top:0px;"  >Employee Tax Return</p>
                              <p style="margin-bottom:20px;"  >White</p>
                              <p style="margin-bottom:0px;">Employee Tax Return</p>
                              <p style="margin:0px;">White</p>
                            </td>
                            <td style="padding:2px 5px; text-align:center;font-size:13px;">
                              <p style="margin-top:0px;"  >Employee Keep for the Record</p>
                              <p style="margin-bottom:20px;"  >Green</p>
                              <p style="margin-bottom:0px;">Employee Keep for the Record</p>
                              <p style="margin:0px;">Green</p>
                            </td>
                            <td style="padding:2px 5px; text-align:center;font-size:13px;">
                              <p style="margin-top:0px;"  >Employee send to ministry of finance</p>
                              <p style="margin-bottom:20px;"  >Yellow</p>
                              <p style="margin-bottom:0px;">Employee send to ministry of finance</p>
                              <p style="margin:0px;">Yellow</p>
                            </td>
                            <td style="padding:2px 5px; text-align:center;font-size:13px;">
                              <p style="margin-top:0px;"  >Organization keep for record</p>
                              <p style="margin-bottom:20px;"  >Blue</p>
                              <p style="margin-bottom:0px;">Organization keep for record</p>
                              <p style="margin:0px;">Blue</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <!-- REPEAT -->
                          <tbody>
                            <tr>
                              <td
                                style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                              <td
                                style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%">
                                Employer of authorized officer name
                              </td>
                              <td
                                style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;"
                                width="33%">
                               @Model.OfficerName                               </td>
                              <td
                                style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%"  >
                               <img src="@Model.Image21Path" alt="" width="160" height="15" >
                              </td>
                              <td
                                style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                            </tr>
                            <!-- /REPEAT -->
                            <!-- REPEAT -->
                            <tr>
                              <td
                                style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                              <td
                                style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%">
                                Position of authorized officer
                              </td>
                              <td
                                style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;"
                                width="33%">
                              @Model.Position 
                              </td>
                              <td
                                style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%"  >
                               <img src="@Model.Image22Path" alt="" width="160" height="15" >
                              </td>
                              <td
                                style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                            </tr>
                            <!-- /REPEAT -->
                            <!-- REPEAT -->
                            <tr>
                              <td
                                style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                              <td
                                style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%">
                                Signature of authorized officer
                              </td>
                              <td
                                style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;"
                                width="33%">

                              </td>
                              <td
                                style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%"  >
                               <img src="@Model.Image23Path" alt="" width="160" height="15" >
                              </td>
                              <td
                                style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                            </tr>
                            <!-- /REPEAT -->

                            <!-- REPEAT -->
                            <tr>
                              <td
                                style="border-top:2px solid #ddd; border-right:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                              <td
                                style="border-top:2px solid #ddd; text-align:left; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%">
                                Date
                              </td>
                              <td
                                style="border-top:2px solid #ddd;color:#222; padding:3px 2px;font-size:11px; text-align:center;font-weight:600; margin-top:0px;"
                                width="33%">
                                @Model.ReportDate 
                              </td>
                              <td
                                style="border-top:2px solid #ddd; text-align:right; padding:3px 2px; color:#222; font-size:11px;font-weight:600;"
                                width="30%"  >
                               <img src="@Model.Image24Path" alt="" width="160" height="15" >
                              </td>
                              <td
                                style="border-top:2px solid #ddd; border-left:2px solid #ddd; text-align:left; padding:2px 8px; color:#222; font-size:11px;font-weight:600;"
                                width="10"></td>
                            </tr>
                            <!-- /REPEAT -->
                          </tbody>
                        </table>
                      </td>
                    </tr>
              </table>
         </div>
    </body>
</html>
