@model List<HumanitarianAssistance.Application.Project.Models.HiringRequestFormPdfModel>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .container {
            margin: 0 auto;
            max-width: 800px;
        }

        .print {
            .page-break

        {
            page-break-after: always;
            page-break-inside: avoid;
            clear: both;
        }

        .page-break-before {
            page-break-before: always;
            page-break-inside: avoid;
            clear: both;
        }
        }
    </style>
</head>
<body>
    <div class="container">
        <table style="width:100%;">
            @foreach (var Item in Model)
            {
                <tr>
                    <td>
                        <table cellpadding="5" style="width:100%;">
                            <tr>
                                <td align="center" style="font-size:24px;font-weight:500;">Hiring Request Form</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="6" style="width:100%;font-size:14px;" border="1" bordercolor="#bfbfbf" cellspacing="0">
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Job Category</td>
                                <td>@Item.JobCategory</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Minimum Education level</td>
                                <td>@Item.MinimumEducation</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Vacancy Number</td>
                                <td>@Item.TotalVacancies</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Position Title</td>
                                <td>@Item.Position</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Organization</td>
                                <td>@Item.Organization</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Duty Station</td>
                                <td>@Item.Office</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">City/province</td>
                                <td>@Item.Province</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Contract type</td>
                                <td>@Item.ContractType</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Contract Duration</td>
                                <td>@Item.ContractDuration</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Gender</td>
                                <td>@Item.Gender</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Salary Range</td>
                                <td>@Item.SalaryRange</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Announcing Date</td>
                                <td>@Item.AnnouncingDate</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Closing Date</td>
                                <td>@Item.ClosingDate</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Nationality</td>
                                <td>@Item.Country</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Filled Vacancy</td>
                                <td>@Item.FilledVacancies</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Job Type</td>
                                <td>@Item.JobType</td>
                            </tr>
                            <tr>
                                <td style="font-weight:500;" width="200">Shift</td>
                                <td>@Item.Shift</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Job Status</td>
                                <td>@Item.JobStatus</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" width="200">Experience</td>
                                <td>@Item.Experience</td>
                            </tr>
                            <!-- <tr>
                                <td style="font-weight:500;" width="200">Background</td>
                                <td>@Item.Background</td>
                            </tr> -->
                            <tr>
                                <td style="font-weight:500;" colspan="2" width="200" height="200" valign="top">
                                    Specific Duties and Responsibilities:<br /><br />
                                    @Item.SpecificDutiesAndResponsiblities
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5" style="width:100%;">
                            <tr>
                                <td align="center" style="font-size:24px;font-weight:500;">Hiring Request Form</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="6" style="width:100%;font-size:14px;" border="1" bordercolor="#bfbfbf" cellspacing="0">
                            <tr>
                                <td style="font-weight:500;" width="200" height="200" valign="top">
                                    Knowledge and skills required:<br /><br />
                                    @Item.KnowladgeAndSkillRequired
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="6" style="width:100%;font-size:14px;" cellspacing="0">
                            <tr>
                                <td style="font-weight:500;">
                                    Submission guidelines:<br /><br />
                                                          @Item.SubmissionGuidline
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
