@model HumanitarianAssistance.Application.Project.Models.InterviewDetailsPdfModel

<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
    <div class="container">
        <table style="width:100%;font-family:Arial, Verdana, sans-serif;">
            <tr>
                <td>
                    <table cellpadding="5" style="width:100%;">
                        <tr>
                            <td><img src="@Model.LogoPath" alt=""></td>
                            <td style="text-align:left"> <img src = "@Model.PersianChaName" alt = ""> </td>
                        </tr>
                        <tr>
                         <td colspan="2" align="center" style="font-size:20px;font-weight:500;">COORDINATION OF HUMANITARIAN ASSISTANCE(CHA)<br>Interview Form</td>
                        </tr>
                    </table>

  <table cellpadding="10" style="width:100%;font-size:14px;" border="1"  cellspacing="0">
    <tr>
      <td style="font-weight:bold; border-right-color: white;" width="200">Candidate Name :</td>
      <td width="200">Arjun SIngh</td>
      <td style="font-weight:bold; border-right-color: white;" width="200">Candidate Position: </td>
      <td width="200">It</td>
    </tr>
        <tr>
      <td style="font-weight:bold; border-right-color: white;" width="200">Residing Province :</td>
      <td width="200">test</td>
      <td style="font-weight:bold;  border-right-color: white;" width="200"> Duty Station:</td>
      <td width="200">test</td>
    </tr>
            <tr>
      <td  width="200" colspan="2"><img src="@Model.UnCheckedIconPath" alt=""> Ms&nbsp&nbsp&nbsp&nbsp&nbsp<img src="@Model.UnCheckedIconPath" alt=""> Mrs&nbsp&nbsp&nbsp&nbsp&nbsp<img src="@Model.UnCheckedIconPath" alt=""> Mr</td>
      <td style="font-weight:bold; border-right-color: white;" width="200">Tazkira/Passport No :</td>
      <td width="200">test</td>
    </tr>
    
    <tr>
      <td width="200" style="font-weight:bold;  border-right-color: white;">Qualification Title: </td>
      <td colspan="3"><img src="@Model.UnCheckedIconPath" alt=""> DBA&nbsp<img src="@Model.UnCheckedIconPath" alt=""> DIT&nbsp<img src="@Model.UnCheckedIconPath" alt=""> CIT&nbsp<img src="@Model.UnCheckedIconPath" alt=""> BIT&nbsp<img src="@Model.UnCheckedIconPath" alt=""> BBA&nbsp<img src="@Model.UnCheckedIconPath" alt=""> BSC&nbsp<img src="@Model.UnCheckedIconPath" alt=""> MBA&nbsp<img src="@Model.UnCheckedIconPath" alt=""> Phd&nbsp<img src="@Model.UnCheckedIconPath" alt=""> Prof&nbsp<img src="@Model.UnCheckedIconPath" alt=""> Others</td>
    </tr>
        <tr>
      <td width="200" style="font-weight:bold;  border-right-color: white;">Name Of Institute/University: </td>
      <td colspan="3"></td>
    </tr>
    
  </table>

  <table cellpadding="10" style="width:100%;font-size:14px;" border="1"  cellspacing="0">
    <tr>
           <th width="150" >Day___ Month___ Year___ of Birth </th>
           <th width="100" >Place of Birth</th>
           <th width="250"  colspan="2">Tazkira Issue Place</th>
           <th width="400" colspan="3">Marital Status: <br>Single &nbsp<img src="@Model.UnCheckedIconPath" alt=""> &nbsp&nbsp Married &nbsp<img src="@Model.UnCheckedIconPath" alt=""></th>
    </tr>
    <tr>
    <td style="font-weight:bold;" colspan="2" align=center>Rating Based Criteria</td>
      <th>Poor</th>
      <th>Below Average</th>
      <th>Average</th>
      <th>Above Average</th>
      <th>Outstanding</th>
    </tr>
    <tr>
      <td style="font-weight:bold;" colspan="2" >Questions</td>
      <td style="font-weight:bold;" align=center><img src="@Model.UnCheckedIconPath" alt=""></td>
      <td style="font-weight:bold;" align=center><img src="@Model.UnCheckedIconPath" alt=""></td>
      <td style="font-weight:bold;" align=center><img src="@Model.UnCheckedIconPath" alt=""></td>
      <td style="font-weight:bold;" align=center><img src="@Model.UnCheckedIconPath" alt=""></td>
      <td style="font-weight:bold;" align=center><img src="@Model.UnCheckedIconPath" alt=""></td>
    </tr>
      <tr><td  colspan="2"></td>
      <td>Professional Criteria Marks:</td>
      <td align=center>test</td>
      <td>A: Total marks obtained::</td>
      <td colspan="2" align=center>test</td>
    </tr>
  </table>
 <table cellpadding="10" style="width:100%;font-size:14px;" border="1"  cellspacing="0">
<tr>
    <th width="150">Language Skills:</th>
    <td colspan="4" width="900">Kindly rate the candidate as per the following rating (Fair, Good, Very Good, Excellent).</td>
    </tr>
    <tr>
    <th>Languages</th>
      <th>Reading</th>
      <th>Writting</th>
      <th>Listening</th>
       <th>Speaking</th>      
    </tr>
    <tr>
    <td>Dari</td>
      <td>Good</td>
      <td>Good</td>
      <td>Good</td>
      <td>Good</td>
    </tr>
  </table>
    <table cellpadding="10" style="width:100%;font-size:14px;" border="1"  cellspacing="0">
    <tr>
    <th>Traning Type</th>
      <th>Traning Name</th>
      <th>Studying Country, City</th>
      <th>Start Date</th>
       <th>End Date</th>      
    </tr>
    <tr>
    <td>traningtest</td>
      <td>test</td>
      <td>test</td>
      <td>12/12/2012</td>
      <td>12/12/2012</td>
    </tr>
  </table>
    <table cellpadding="10" style="width:100%;font-size:14px;" border="1"  cellspacing="0">
    <tr>
      <th rowspan="2">Technical Question: Each</th>
      <th colspan="5">Scoring:</th>
    </tr>
    <tr>
      <th>0 Poor</th>
      <th>10 Fair</th>
      <th>15 Good</th>
      <th>20 Excellent</th>
      <th>30 Perfect</th>
    </tr>
    <tr>
    <td>test</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>

    <table cellpadding="10" style="width:100%;font-size:14px;" border=1 cellspacing="0"
    <tr >
  <td colspan="3" style="border-color:white">Note: scoring criteria show that each question carries equal marks, according to the scoring sheet.</td>
  </tr>
<tr>
<td colspan="3" style="border-color:white">B: Total Marks Obtain : test</td>
</tr>
<tr>
<td  colspan="3" style="border-color:white">C: Written Test Marks Obtained: test</td>
</tr>
<tr>
<td style="border-color:white">1.	Are you willing to Travel to provinces if required?</td>
  <td style="border-color:white">Yes &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
  <td style="border-color:white">No &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
</tr>
<tr>
<td style="border-color:white">2.	Do you have any health-related issue? If yes, please elaborate in detail.</td>
  <td style="border-color:white">Yes &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
  <td style="border-color:white">No &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
</tr>
<tr>
<td style="border-color:white">3.	Are you willing to consider opportunity if it’s based in the provinces?</td>
  <td style="border-color:white">Yes &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
  <td style="border-color:white">No &nbsp<img src="@Model.UnCheckedIconPath" alt=""></td>
</tr>
<tr>
<td  colspan="3" style="border-color:white">4.	What province would you prefer if you consider an opportunity given to you?</td>
</tr>
  </table>
  <table cellpadding="10" style="width:100%;font-size:14px;" border=1 cellspacing="0"
    <tr >
  <th colspan="5">
  Compensation and Benefits Requirement (Current / Target)
  </th>
  <th>Notice period:</th><td><img src="@Model.UnCheckedIconPath" alt="">&nbsp 15 days&nbsp <img src="@Model.UnCheckedIconPath" alt="">&nbsp 30 days &nbsp  <img src="@Model.UnCheckedIconPath" alt="">&nbsp Other</td>
</tr>
<tr>
<th>Current</th>
  <td>Base Salary : test</td>
  <td>Others : test</td>
  <td><img src="@Model.UnCheckedIconPath" alt=""> &nbsp Transportation</td>
  <td><img src="@Model.UnCheckedIconPath" alt=""> &nbsp Meal</td>
  <td rowspan="2" colspan="2">Date available to join cha:</td>
</tr>
<tr>
<th>Expectation</th>
  <td>Base Salary : test</td>
  <td>Others : test</td>
  <td><img src="@Model.UnCheckedIconPath" alt=""> &nbsp Transportation</td>
  <td><img src="@Model.UnCheckedIconPath" alt=""> &nbsp Meal</td>
</tr>
<tr>
  <td colspan="7">A+B+C = Total Marks Obtained : test</td>
</tr>
<tr>
  <th colspan="7">Recommendations</th>
</tr>
<tr>
  <td><img src="@Model.UnCheckedIconPath" alt="">&nbsp Hire</td>
  <td><img src="@Model.UnCheckedIconPath" alt="">&nbsp 2nd Choice</td>
  <td><img src="@Model.UnCheckedIconPath" alt="">&nbsp Test Day</td>
  <td colspan="2"><img src="@Model.UnCheckedIconPath" alt="">&nbsp Recommended for other position</td>
  <td><img src="@Model.UnCheckedIconPath" alt="">&nbsp Reject</td>
  <td><img src="@Model.UnCheckedIconPath" alt="">&nbsp Over Qualified</td>
</tr>
<tr>
<td>Name Of Interviewer</td>
  <td colspan="2">test</td>
  <td>Date</td>
  <td colspan="3">12/12/12</td>
</tr>
<tr>
<td>Position</td>
  <td colspan="2">test</td>
  <td>Signatute</td>
  <td colspan="3">testsignature</td>
</tr>
  </table>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>