@model HumanitarianAssistance.Application.Accounting.Models.FinalBudgetLineJournalReport
<html>
	<head>
    	<title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
		<style>
			body { font-family: 'Roboto', sans-serif;}
			.container { margin:0 auto;max-width:900px;}
			.print{
				.page-break {
				  page-break-after: always;
				  page-break-inside: avoid;
				  clear:both;
				}
				.page-break-before {
				  page-break-before: always;
				  page-break-inside: avoid;
				  clear:both;
				}
			}
			
		</style>
    </head>
    <body>
    	<div class="container">
            <table style="width:100%;">
                <tr>
                    <td>
                        <table cellpadding="5" style="width:100%;">
                            <tr>
                                <td width="150"><img src="@Model.Logo" alt=""></td>
                                <td align="center" style="font-size:20px;font-weight:500;">COORDINATION OF HUMANITARIAN ASSISTANCE<br>GROUP TRIAL REPORT</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<table cellpadding="5" style="width:100%;border-top:1px solid #bfbfbf;">
						<tr>
							<td></td>
						</tr>
                        </table>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<table cellpadding="5" style="width:100%;font-size:14px;" border="1" bordercolor="#bfbfbf" cellspacing="0">
                        	<tr>
								<th>Group</th>
                                <th>Description</th>
                                <th>Debit</th>
                                <th>Credit</th>
								<th>Expenditure</th>
                            </tr>
                            @foreach (var item in @Model.reportList)
                            {
                                <tr>
                                    <td>@item.ChartOfAccountNewCode</td>
                                    <td>@item.Description</td>
                                    <td>@item.Debit</td>
                                    <td>@item.Credit</td>
                                    <td>@item.Expenditure</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>