@model HumanitarianAssistance.Application.Project.Models.ProjectActivityReportPdfModel
<!doctype html>
<html>
<head>
	<title>Humanitarian</title>
</head>
<body style="background-color:#fafafa;">
	<table style="width:700px;margin:0 auto;background-color:#ffffff;font-family:Arial" cellpadding="0" cellspacing="0">
        <tr>
           <td>
               <table cellpadding="5" style="width:100%;">
                   <tr>
                       <td><img src="@Model.LogoPath" alt=""></td>
                       <td style="text-align:center;font-size:18px;font-weight:400;">COORDINATION OF HUMANITARIAN ASSISTANCE(CHA)<br>Monitoring Report</td>
                   </tr>
               </table>
           </td>
        </tr>
        <tr>
        	<td>
            	<table style="width:100%;text-align:left;border-bottom:2px solid #787878;" cellpadding="20" cellspacing="0">
                	<tr>
                    	<td  style="font-weight:bold">Project Code : <span> @Model.ProjectCode</span></td>
                    	<td colspan="4" style="font-weight:bold">Project Name :  <span> @Model.ProjectName</span></td>
                        
                    </tr>
                    <tr>
                    	<td style="width:80px;">Goal:</td>
                        <td colspan="4">@Model.ProjectGoal</td>
                    </tr>
                    <tr>
                    	<td>Starts On:</td>
                        <td>@Model.ProjectStartDate</td>
                        <td>&nbsp;</td>
                        <td>Country</td>
                        <td>@String.Join(", ", Model.Country)</td>
                    </tr>
                    <tr>
                    	<td>Ends On:</td>
                        <td>@Model.ProjectEndDate</td>
                        <td>&nbsp;</td>
                        <td>Province</td>
                        <td>@String.Join(", ", Model.Province)</td>
                    </tr>
                    <tr>
                    	<td>Duration:</td>
                        <td>@Model.ProjectDuration <label>Days </label></td>
                        <td>&nbsp;</td>
                        <td>District:</td>
                        <td>@String.Join(",", Model.District)</td>
                    </tr>
                </table>
            </td>
        </tr>

    @foreach (var activity in @Model.ActiivtyListModel)
      {

        <tr>
        	<td>
            	<table style="width:100%;text-align:left;border-bottom:2px solid #787878;" cellpadding="20" cellspacing="0">
                	
                    <tr>
                    	<td colspan="2" style="font-weight:bold">Activity Code:<span> @activity.ActivityCode</span></td>
                    	<td colspan="2" style="font-weight:bold ;">Main Activity:<span> @activity.MainActivity </span></td>
                    </tr>
                    <tr>
                    	<td style="width:150px;">Actual Start Date:</td>
                        <td>@activity.ActualStartDate</td>
                    </tr>
                    <tr>
                    	<td>Actual End Date</td>
                        <td>@activity.ActualEndDate</td>
                    </tr>
                    <tr>
                    	<td>Duration:</td>
                        <td>@activity.ActivityDuration <label>Days </label></td>
                    </tr>
                    
                </table>
            </td>
        </tr>
        @foreach (var monitoring in activity.ProjectMonitoringViewModel)
        {
            
        <tr>
        	<td>
            	<table style="width:100%;text-align:left;border-bottom:2px solid #787878;" cellpadding="20" cellspacing="0">
                	<tr>
                    	<td style="font-weight:bold">Monitoring Entry Date: @monitoring.DisplayMonitoringDate</td>
                        <td align="right" style="font-weight:bold">Monitoring Entry Rating: @monitoring.Rating</td>
                    </tr>
                    <tr>
                    	<td valign="top">Strong Points:</td>
                        <td>@monitoring.PositivePoints </td>
                    </tr>
                    <tr>
                    	<td valign="top">Weak Points:</td>
                        <td>@monitoring.NegativePoints </td>
                    </tr>
                    <tr>
                    	<td valign="top">Recommendations:</td>
                        <td>@monitoring.Recommendations </td>
                    </tr>
                </table>
            </td>
        </tr>
       
       
       
        <tr>
        	<td>
            	<table style="width:100%;text-align:left;border-bottom:2px solid #787878;" cellpadding="20" cellspacing="0">
                	<tr>
                    	<td style="font-weight:bold">Indicator Questions</td>
                    </tr>
                     @foreach(var indicator in monitoring.MonitoringReviewModel)
                      {
                       <tr>
                    	<td>
                        	<table width="100%" cellpadding="15" cellspacing="0" style="background-color:#efefef">
                            	<tr>
                                	<td colspan="4">Indicator Name: <span>@indicator.IndicatorName</span></td>
                                </tr>
                               
                                <tr>
                                	<td style="border-bottom:1px solid #787878;">Question</td>
                                    <td style="border-bottom:1px solid #787878;">Question Type </td>
                                    <td style="border-bottom:1px solid #787878;">Verification Source</td>
                                    <td style="border-bottom:1px solid #787878;">Score</td>
                                </tr>
                                 @foreach(var questions in indicator.IndicatorQuestions)
                                {
                                <tr>
                                	<td style="border-bottom:1px solid #787878;">@questions.IndicatorQuestion</td>
                                    <td style="border-bottom:1px solid #787878;">@questions.QuestionTypeName</td>
                                    <td style="border-bottom:1px solid #787878;">@questions.VerificationSourceName</td>
                                    <td style="border-bottom:1px solid #787878;">@questions.Score</td>
                                </tr>
                                }
                             
                             
                            </table>
                        </td>
                       </tr>
                      }
                </table>
            </td>
        </tr>
        
        }
      }

    </table>
</body>
</html>