@model HumanitarianAssistance.Application.Accounting.Models.VoucherSummaryMainReportPdfModel

<html>
	<head>
    	<title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
		<style>
			body { font-family: 'Roboto', sans-serif;}
			.container { margin:0 auto;max-width:900px;}
			.print{
				.page-break {
				  page-break-after: always;
				  page-break-inside: avoid;
				  clear:both;
				}
				.page-break-before {
				  page-break-before: always;
				  page-break-inside: avoid;
				  clear:both;
				}
			}
            @@media print{
                .footer{
                    position:absolute;
                    bottom: 40px;
                    width:100%;
                    
                }
            }
            .footer{
                position:absolute;
                bottom: 40px;
                width:100%;
            }
			
		</style>
    </head>
    <body>
        
    	<div class="container">
            <table style="width:100%;">
                <tr>
                    <td>
                        <table cellpadding="5" style="width:100%;">
                            <tr>
                                <td width="150"><img src="@Model.Logo" alt=""></td>
                                <td align="center" style="font-size:20px;font-weight:500;">COORDINATION OF HUMANITARIAN ASSISTANCE<br>TRANSACTION VOUCHER</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @foreach (var voucher in Model.VoucherDetails)
                {
                <tr>
                	<td>
                    	<table cellpadding="5" style="width:100%;">
                        	<tr>
                            	<td width="120" style="color:#636363;">Currency:</td>
                                <td style="font-weight:500">@voucher.Currency</td>
                                <td>&nbsp;</td>
                                <td width="120" style="color:#636363;">Cheque #:</td>
                                <td width="120" style="font-weight:500">@voucher.Cheque</td>
                            </tr>
                            <tr>
                            	<td style="color:#636363;">Voucher No:</td>
                                <td style="font-weight:500">@voucher.ReferenceNo</td>
                                <td>&nbsp;</td>
                                <td style="color:#636363;">Journal:</td>
                                <td style="font-weight:500">@voucher.Journal</td>
                            </tr>
                            <tr>
                            	<td style="color:#636363;">Date:</td>
                                <td style="font-weight:500">@voucher.Date</td>
                                <td>&nbsp;</td>
                                <td style="color:#636363;">Region:</td>
                                <td style="font-weight:500">@voucher.Region</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<table cellpadding="5" style="width:100%;border-top:1px solid #bfbfbf;">
                        	<tr>
                            	<td>Description</td>
                            </tr>
                            <tr>
                            	<td>@voucher.Description</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<table cellpadding="5" style="width:100%;font-size:14px;" border="1" bordercolor="#bfbfbf" cellspacing="0">
                        	<tr>
                            	<th>A/C No</th>
                                <th>Line Item Description</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>B/Line</th>
                                <th>Area</th>
                                <th>Sct</th>
                                <th>Prj</th>
                                <th>Job</th>
                            </tr>
                            @foreach (var transaction in @voucher.TransactionDetails)
                            {
                            <tr>
                            	<td>@transaction.AccountNo</td>
                                <td>@transaction.Description</td>
                                <td align="right">@transaction.Debit</td>
                                <td align="right">@transaction.Credit</td>
                                <td>@transaction.BudgetLine</td>
                                <td>@transaction.Area</td>
                                <td>@transaction.Sector</td>
                                <td>@transaction.Project</td>
                                <td>@transaction.Job</td>
                            </tr>
                            }
                            <tr class="page-break-before">
                            	<td colspan="2" style="font-weight:500;">Total:</td>
                                <td style="font-weight:500;" align="right">@voucher.TotalDebit</td>
                                <td style="font-weight:500;" align="right">@voucher.TotalCredit</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr class="page-break-before">
                            	<td colspan="9">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                }
                <tr>
                	<td>&nbsp;</td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <table style="width:100%" cellspacing="0">
                <tr>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;border-top:1px solid #787878;">&nbsp;</td>
                    <td width="50"></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;border-top:1px solid #787878;"></td>
                    <td width="50"></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;border-top:1px solid #787878;"></td>
                    <td width="50"></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;border-top:1px solid #787878;"></td>
                </tr>
                <tr>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;"></td>
                    <td></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;"></td>
                    <td></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;"></td>
                    <td></td>
                    <td style="border-left:1px solid #787878;border-right:1px solid #787878;"></td>
                </tr>
                <tr>
                    <td align="center" style="border-left:1px solid #787878;border-right:1px solid #787878;border-bottom:1px solid #787878;">Prepared By</td>
                    <td></td>
                    <td align="center" style="border-left:1px solid #787878;border-right:1px solid #787878;border-bottom:1px solid #787878;">Computerized by</td>
                    <td></td>
                    <td align="center" style="border-left:1px solid #787878;border-right:1px solid #787878;border-bottom:1px solid #787878;">Checked By</td>
                    <td></td>
                    <td align="center" style="border-left:1px solid #787878;border-right:1px solid #787878;border-bottom:1px solid #787878;">Approved by</td>
                </tr>
            </table>
        </div>
    </body>
</html>

