@model HumanitarianAssistance.Application.Accounting.Models.VoucherSummaryMainReportPdfModel
<!doctype html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
        <style>
            
           
            .table, th, td {
                font-size: 12px;
                
                }
           
            @@media print{
                .footer{
                  position: absolute; 
                bottom: 0px; 
                left: 0px; 
                right: 0px;
                margin-top:550px;
                border-left:1px solid;
                border-right:1px solid;
                border-bottom:1px solid;
                }
            }
            
           .footer{
              position: absolute; 
                bottom: 0px; 
                left: 0px; 
                right: 0px;
                margin-top:550px;
                border-left:1px solid;
                border-right:1px solid;
                border-bottom:1px solid;
            }
           
         
        </style>
    </head>
    <body>

                @foreach (var voucher in Model.VoucherDetails)
                {
                    
                 <table  style="width:100%;border-top:1px solid;border-left:1px solid;border-right:1px solid;">
                    <tr>
                        <td>
                            <table cellpadding="5" style="width:100%;" >
                                <tr>
                                <td width="90"><img src="@Model.Logo" alt=""></td>
                                <td  style="font-size:14px;font-weight:bold;">COORDINATION OF HUMANITARIAN ASSISTANCE<br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<span style="font-size:13px;font-weight:bold;">TRANSACTION VOUCHER</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 </table>
                  <div style="page-break-after: always;border-right:1px solid;border-left:1px solid;min-height: 865px;" >
                    <table style="width:100%;" >
                   
                        <tr >
                            <td >
                                <table cellpadding="5" style="width:100%;" >
                                    <tr>
                                        <td  style="font-weight:bold">Currency:</td>
                                        <td style="color:black;">@voucher.Currency</td>
                                        <td>&nbsp;</td>
                                        <td  style="font-weight:bold">Cheque #:</td>
                                        <td style="color:black;">@voucher.Cheque</td>
                                    </tr>
                                    <tr>
                                        <td  style="font-weight:bold">Voucher No:</td>
                                        <td style="color:black;">@voucher.ReferenceNo</td>
                                        <td>&nbsp;</td>
                                        <td  style="font-weight:bold">Journal:</td>
                                        <td style="color:black;">@voucher.Journal</td>
                                    </tr>
                                    <tr>
                                        <td  style="font-weight:bold">Date:</td>
                                        <td style="color:black;">@voucher.Date</td>
                                        <td>&nbsp;</td>
                                        <td  style="font-weight:bold">Region:</td>
                                        <td style="color:black;">@voucher.Region</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="5" style="width:100%;border-top:1px solid;">
                                    <tr>
                                        <td width="120" ><span style="font-weight:bold">Description:</span> <br>@voucher.Description</td>                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table  width="100%" cellspacing="0" cellpadding="5">
                                    <tr>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">A/C No</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Line Item Description</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Debit</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Credit</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">B/Line</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Area</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Sct</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">Prj</td>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;padding-top:51x;">Job</td>
                                    </tr>
                                    @* @{int i=0;} *@
                                    @foreach (var transaction in @voucher.TransactionDetails)
                                    {
                                        @* {i++;}
                                        if(@i>10){
                                        <div style="page-break-after: always;min-height:100%"></div>
                                        } *@

                                    <tr>
                                        <td style="text-align:center;font-weight:bold;border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.AccountNo</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.Description</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;"align="right">@transaction.Debit</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;" align="right">@transaction.Credit</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.BudgetLine</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.Area</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.Sector</td>
                                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;">@transaction.Project</td>
                                        <td style="border-top:1px solid;padding-top:5px;">@transaction.Job</td>
                                    </tr>
                                   
                                    }
                                    <tr>
                                        <td style="border-bottom:1px solid;border-right:1px solid;border-top:1px solid;font-weight:bold;" colspan="2">Total:</td>
                                        <td style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="right">@voucher.TotalDebit</td>
                                        <td style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="right">@voucher.TotalCredit</td>
                                        <td style="border-top:1px solid;border-bottom:1px solid;" colspan="5"></td>
                                    </tr>
                                    <tr class="page-break-before">
                                        <td colspan="9" style="border-bottom:1px solid;font-weight:bold;"><br></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
               
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>   </td>
                        </tr>
                    </table>
                    <div  class="footer">
                        <table cellpadding=35 width="100%" cellspacing=0>
                        <tr>
                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;padding-left:10px">Prepared By</td>
                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;padding-left:10px">Computerized by</td>
                        <td style="border-top:1px solid;border-right:1px solid;padding-top:5px;padding-left:10px">Checked By</td>
                        <td style="border-top:1px solid;padding-top:5px;padding-left:10px">Approved by</td>
                        </tr>                                       
                        </table>
                    </div>
                 </div>
                 
                }
          
       
    </body>
</html>